body{   
    font-family: 'Times New Roman', Times, sans-serif;  
    margin: 0 25%;
}
header {
    height: 180;
}
.head {
    font-size: 64px;
    font-weight: 700;
}
.avatar{
    position: absolute;
    width: 150;
    height: 150;
    left: 60%;
    top: 50px;
}
.avatar img
{
width: 100%;
}